* {
    margin: 0px;
}

.header {
    display: flex;
}

.logo-container {
    flex: 0.5;
}

.logo {
    width: 175px;
    margin-top: 5px;
    margin-left: 150px;
}

.menu-container {
    flex: 0.5;
}

.buttons {
    height: 80px;
    width: 150px;
}

.menu-p {
    color: black;
    font-weight: bold;
}